{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>FakeStore</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{% static 'images/Envision.css'%}" type="text/css" />
</head>
<body>
<div id="wrap">

  <div id="header">
    <h1 id="logo-text">FakeStore</h1>
    <h2 id="slogan">Money is an illusion...</h2>
  </div>

  <div id="content-wrap">

      <h1>Wise Words</h1>
      <div class="left-box">
          <p>&quot;Material things is the source of true happiness.&quot; -Axel Pinard </p>
      </div>

      <div>
          <h2>Select an option</h2>
          <a href="CreateUser/SignUp/">1. SignUp</a><br />
          <a href="CreateUser/SignIn/">2. SignIn</a><br />
      </div>

      <div>
         {% if message %}
          <h1>{{message}}</h1>
          {%endif%}
      </div>

  </div>
</body>
</html>
